:root {
    font-size: 12px;
    box-sizing: border-box;
    --primary-bg-color: #001a30;
    --transparent-bg-color: #001a3077;
    --strong-color: #005BC0;
    --header-bg-color: #001425;
    --default-font: 'Poppins', sans-serif;
    --header-font: 'DM sans', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: var(--default-font);
    box-sizing: border-box;

}

section:target {
    scroll-margin-top: .8rem;
}

h1,
h2,
h3,
a {
    text-decoration: none;
    color: #fff;
}

p {
    color: #fff;
    font-size: 1.5rem;
}

header {
    position: fixed;
    top: 0;
    background-color: var(--header-bg-color);
    height: 90px;
    border-bottom: 1px solid #fff;
    width: 100vw;
    z-index: 3;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    height: 100%;
}

.menu-icon {
    display: none;
}

header a {
    font-family: var(--header-font);
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
}

.container {
    padding-top: 100px;
    background-color: var(--primary-bg-color);
    height: 100vh;
}


.home {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.picture img {
    border-radius: 41% 59% 71% 29% / 43% 41% 59% 57%;
    border: 8px solid #fff;
    width: 25vw;
}

.greet {
    width: 40%;
    border-left: 1px solid #fff;
    animation: load 1s normal forwards;

}

.greet h1 {
    text-align: center;
    font-size: 5rem;
    color: #fff;
    animation: load 1s normal forwards;
}

strong {
    color: var(--strong-color);
}

.about {
    height: 70vh;
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
}

.container h3 {
    font-size: 2.8rem;
    text-align: center;
    margin-top: 0;
}

.resume {
    padding: 20px;
    width: 50%;
}

.resume p {
    width: 80%;
}

.skills {
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
}

.title-techs p {
    color: #fff;
    font-size: 2rem;
    font-family: var(--header-font);
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.techs {
    width: 100%;
}

.techs p {
    font-size: 1.6rem;
    color: var(--strong-color);
    font-family: var(--header-font);
    font-weight: bold;
    margin: 25px 0 0px 0;
}

.progress {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    justify-content: left;
    border-radius: 100px;
    align-items: center;
    padding: 0 5px;
    display: flex;
    height: 33px;
    width: 100%;
}

.animation {
    animation: loadProgress 3s normal forwards;
    border-radius: 100px;
    background: #fff;
    height: 25px;
    position: relative;
}

.html {
    width: 98%;
}

.css {
    width: 95%;
}

.js {
    width: 80%;
}

.node {
    width: 80%;
}

.bs {
    width: 85%;
}

.progress-value span {
    position: absolute;
    right: 0;
    top: -35px;
    width: 40px;
    height: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--strong-color);
    border-radius: 5px;
}

.progress-value span::after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
}

.projects {
    display: block;
    height: 75vh;
}

.sub-title {
    width: 70%;
    margin: 15px auto;
}


.main-projects {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto 60px auto;
}

.projects h2 {
    width: 70%;
    margin: 10px auto;
}

.project {
    box-sizing: border-box;
    padding: 20px;
    height: 350px;
    width: 300px;
    min-height: 350px;
    min-width: 300px;
    background-color: var(--header-bg-color);
    border-radius: 10px;
    margin-right: 25px;
}

.project p {
    color: #fff;
    font-size: 1.6rem;
    font-family: var(--header-font);
    margin: 10px 0 0;
}

.background-project {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;

}

.dogwalkers {
    background-image: url(../img/projectspics/dogWalkers.png)
}

.countdown {
    background-image: url(../img/projectspics/countdown.png)
}

.social {
    background-image: url(../img/projectspics/redesSociais.png)
}

.parking {
    background-image: url(../img/projectspics/estacionamento-precos.png)
}

.git-btn {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin: auto;
    background-color: var(--header-bg-color);
}

.git-link {
    display: block;
    width: fit-content;
    margin: auto;
}

.git-btn p {
    font-size: 1.2rem;
}

.contact {
    height: 60vh;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-top: 70px;
}

.contacts p {
    font-size: 1.1rem;
}

.contacts h2 {
    font-size: 1.8rem;
}

.each {
    position: relative;
    width: 25%;
}

.each::after {
    position: absolute;
    right: 2px;
    top: 40%;
    height: 40px;
    width: 1px;
    margin-left: -5px;
    border-right: 1px solid #fff;
    content: "";

}

.contacts img {
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
    filter: contrast(0%) brightness(350%);
}

.phone::after {
    height: 0;
    width: 0;
    border-right: none;
}





@media screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }

    .menu {
        display: block;
        width: 100%;
        height: fit-content;

    }

    header {
        height: 75px;
    }

    .menu a {
        display: none;
    }

    .menu-icon {
        display: block;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 4rem;
        margin-left: 5px;
    }

    .responsive {
        background-color: var(--header-bg-color);
        position: absolute;
        width: 60vw;
        height: 100vh;
        display: block;
        animation: load 500ms normal forwards;
    }

    .responsive .menu-icon {
        display: block;
        position: absolute;
        right: 0;
    }


    .responsive a {
        color: #fff;
        font-size: 2.4rem;
        margin: 15px;
        display: block;
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        animation: load 500ms normal forwards;
    }

    .responsive a:nth-child(2) {
        margin-top: 70px;
    }

    .out-menu {
        display: none;
        background-color: var(--transparent-bg-color);
        width: 100vw;
        height: 100vh;
    }

    .home {
        text-align: center;
        padding: 110px 30px 0;
        display: block;
        box-sizing: border-box;
        height: 85vh;
    }

    .picture {
        height: 30vh;
        border-bottom: 1px solid #fff;
    }

    .picture img {
        width: 50vw;
        animation: go-back 1s normal forwards;

    }

    .greet {
        width: auto;
        border: none;
        animation: none;
    }

    .greet h1 {
        font-size: 4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        animation: loadv 2s normal forwards;
    }

    .greet strong {
        animation: loadv 2s normal forwards;
    }


    .container h3 {
        margin-bottom: 15px;
    }

    .about {
        overflow: hidden;
        height: auto;
        padding-bottom: 60px;
    }

    .data {
        display: block;
    }

    .resume {
        text-align: center;
        width: auto;
        padding: 0;
    }

    .resume p {
        width: auto;
        margin-top: 0;
    }

    .skills {
        width: 100%;
    }

    .main-projects {
        width: 88%;
        justify-content: left;
        overflow: hidden;
        overflow-x: auto;
        padding-bottom: 20px;
    }

    .projects {
        height: auto;
        padding-bottom: 60px;
    }

    .contact {
        height: auto;
        padding-bottom: 50px;
    }

    .contacts {
        display: block;
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .each {
        margin: auto;
        width: 80%;
        padding: 40px 0 20px 0;
        border-bottom: 1px solid #fff;
    }

    .each::after {
        height: 0;
        width: 0;
        border-right: none;
    }
}

@keyframes load {
    0% {
        width: 0;
        font-size: 0;
    }

    25% {
        font-size: 0;
    }
}

@keyframes loadProgress {
    0% {
        width: 0;

    }
}

@keyframes loadv {
    0% {

        color: var(--primary-bg-color);

    }
}

@keyframes go-back {
    0% {
        transform: translateY(-200px);
    }

}